[alias]
	a = add
	c = commit
	d = diff
	f = fetch
	l = log
	p = push
	r = restore
	s = status
	t = rev-parse --show-toplevel
[user]
	email = "agustin423@icloud.com"
	name = "Agustin Romero"
[core]
	editor = vim
