[alias]
	a = add
	c = commit
	d = diff
	f = fetch
	l = log
	p = push
	r = restore
	s = status
	t = rev-parse --show-toplevel
[user]
	email = "ar1@stanford.edu"
	name = "Agustin Romero"
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
