xterm.termName: xterm-256color
xterm*foreground: white
xterm*background: black
xterm*faceName: Source Code Pro:size=12:antialias=true
xterm*selectToClipboard: true
xterm*metaSendsEscape: true
xterm*backarrowKey: false
xterm.ttyModes: erase ^?
xterm*translations: #override \n\
	Super <Key>C: copy-selection(CLIPBOARD) \n\
	Super <Key>V: insert-selection(CLIPBOARD)
