[Unit]
Wants=wpa_supplicant.service
After=wpa_supplicant.service

[Service]
Type=forking
PIDFile=/run/dhcpcd/pid
ExecStart=/usr/bin/dhcpcd -q -b
ExecStop=/usr/bin/dhcpcd -x

[Install]
WantedBy=multi-user.target
